{%extends 'base.html'%}
{%block title%}
Leaderboard
{%endblock%}
{%block content%}
<div class="row" style="margin-top:20px; margin-left:20px;">
<div class="col-9">
<div class="container" id="plist">
    {%for player in ps%}
    <div style='margin-bottom: 5px' class='card text-center text-white bg-danger'><div class='card-body'>
        <div class="row" style="margin-top:20px; margin-left:20px;">
        
        <div class="col-7">{{player.name}}</div>
        <div class="col-4">{{player.score}}</div></div>
          </div></div>
          {%endfor%}
</div>
</div>
<div class="col-3">
<button class="btn btn-lg btn-primary p-4" id="startform">Continue</button></div></div>
<script>
    var socket=io({'multiplex': false})

var gid="{{game.id}}"
socket.on('gotofinal',function(gameid){
    if (gid==gameid){
        var locto="/podium/"+gid
        window.location.href=locto;
    }})
socket.on('gotonextq',function(gameid){
    if (gid==gameid){
    var locto="/questionhost/"+gid+"/"+"{{qnum|int+1}}";      
    window.location.href=locto;
}})
    $('#startform').on('click',function() {
            socket.emit('gotonextq',{"gid":gid,"qon":"{{qnum}}"});
        }
            )
        
</script>
{%endblock%}
