{%extends 'base.html'%}
{%block title%}
Question
{%endblock%}

{%block content%}<br>
<div class="container">
    <div class="text-right"><h5>&#11088; 100</h5></div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 25%"></div>
</div>
    <br><br>  
<h5>{{engine.execute("Select question_content FROM question_rows").fetchall()[qnum][0]|safe}}</h5>
<form method="POST">
  {%set choices=engine.execute("Select choices FROM question_rows").fetchall()[qnum][0].split('\n')[1:-2]%}
  {%for c in range(choices|length)%}
  
  <h5><input type="radio" name="choice" value="{{c}}">&nbsp;{{choices[c][5:-5]|safe}}</h5>
  {%endfor%}
    {{form.submit(class="btn btn-lg btn-primary p-4")}}
</form>

</div>

{%endblock%}
{%block style%}
      body {
      background-color: #FFFFFF;
      color: black
      }
{%endblock%}