{%extends 'base.html'%}
{%block title%}
Question
{%endblock%}

{%block content%}<br>
<style>
  .popup {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 20px;
background-color: white;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
z-index: 9999;
display: none;
}
.uniforms img{
    /* width:100%; */
    max-width:300px;
    height:auto !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.uniforms h1 {
  font-size: 1.25rem;
 }
.uniforms h2 {
  font-size: 1.25rem;
 }
.uniforms h3 {
  font-size: 1.25rem;
}
.uniforms h4 {
  font-size: 1.25rem;
}
.uniforms h5 {
  font-size: 1.25rem;
}
.uniforms h6 {
  font-size: 1.25rem;
} 

.popup-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 9998;
background-color: rgba(0, 0, 0, 0.5);
display: none;
}
.popup-close {
position: absolute;
top: 5px;
right: 10px;
font-size: 1.2em;
padding: 0.2em 0.5em;
background-color: transparent;
border: none;
cursor: pointer;
color: #333;
}

.popup-close:hover {
color: #0a0a0a;
}
</style>
<div class="container">
  <div class="row" style="margin-top:20px; margin-left:20px;">
    <div class="col-10">
      <div class="text-left" style="display: inline"><h5>Question {{qnum+1}} of {{total}}</h5></div>

    <div class="text-right" style="display: inline"><h5>&#11088; {{player.score}}</h5></div><div>
<div class="progress">
  
  <div class="progress-bar" role="progressbar" style="width: {{100*(qnum+1)/total}}%"></div>
</div>
    <br><br>  
    <!-- {set qry="Select question_content FROM question WHERE title='"~game.questions.split(',')[qnum]~"'"} -->
    <div class="mb-4 uniforms" style="font-size: 1.25rem !important; font-family: Quicksand, arial, sans, sans-serif;">{{q|safe}}
      <form method="POST" id="qform">
  {%set qry="Select choices FROM question WHERE title='"~game.questions.split(',')[qnum]~"'"%}
  {%set cc=namespace(curcat=0)%}
  {%for i in currentchoice%}
  {%if i|length!=0%}
  <h5><button name="choice" value="{{cc.curcat}}" class="choice" onclick=processButton(id)>&nbsp;{{i|safe}}</h5>
    {%set cc.curcat=cc.curcat+1%}
    {%endif%}
    {%endfor%}
  <input id="timeleft" name="timeleft" type="hidden">
    <!-- {form.submitb(class="btn btn-lg btn-primary p-4") -->
</form></div>

</div></div>
<div class="col-2">
  <br><br><br><br>
  <div class="text-center" style="display: inline"><h3>&#9200;</h3><h3 id="timer"></h3></div>
</div>
<script>
    document.querySelectorAll('span[style="color:#000000"]').forEach( node => {
          node.replaceWith(...node.childNodes)
        })
  
document.querySelectorAll('em > strong, strong > em').forEach(element => {
  
  const iElement = document.createElement('i');
  iElement.classList.add('fas', 'fa-info-circle');
  iElement.style.marginLeft = '5px';
  element.appendChild(iElement);
  element.appendChild(iElement);
  element.style.textDecoration = 'underline dotted';
  element.style.cursor = 'pointer';

  // create popup element
  console.log(element.nodeType);
  const strElement = element.parentNode;
  console.dir(strElement)
  //const spanElement = strElement.parentNode;
  
   nextspan = strElement.nextElementSibling;
  console.dir(nextspan);
  if (!nextspan){
    
    nextspan = document.createElement('span');
    nextspan.innerHTML = '<!--A hint will be added here soon!-->';
    strElement.parentNode.appendChild(nextspan);
    
  }
  content=nextspan.innerHTML
  console.log(content)
  const startIndex = content.indexOf('<!--') + 4;
const endIndex = content.lastIndexOf('-->');

// Extract the text between `<!--` and `-->`
const extractedText = content.substring(startIndex, endIndex).trim();

console.log(extractedText);
  //console.log(enode.nodeType);
  // if (commentNode && commentNode.nodeType === Node.COMMENT_NODE && commentNode.nodeValue) {
  //const content = enode.outerHTML;
  //console.log(content);

  //console.log('No comment node found');
 // const textContent = nextElement.innerHTML;
  //console.log(textContent)
  //if (textNode !== null) {
    //console.log(textNode.textContent.trim());
 // }
  
  const popup = document.createElement('div');
  popup.classList.add('popup');
  //THESE RUN
  // const tc=element.textContent
  // const qry="Select description FROM source WHERE name='"+element.textContent+"'"
  // {set content=engine.execute(qry).fetchall()[0][0]}
  popup.innerHTML = extractedText;

  // create close button
  const closeButton = document.createElement('button');
  closeButton.textContent = 'X';
  closeButton.classList.add('popup-close');

  // add close button to popup
  popup.appendChild(closeButton);

  // create overlay element
  const overlay = document.createElement('div');
  overlay.classList.add('popup-overlay');

  // add popup and overlay elements to the DOM
  document.body.appendChild(popup);
  document.body.appendChild(overlay);

  // add click event listener to hide popup and overlay
  overlay.addEventListener('click', hidePopup);
  closeButton.addEventListener('click', hidePopup);

  // function to hide popup and overlay
  function hidePopup() {
    popup.style.display = 'none';
    overlay.style.display = 'none';
  }

  // add click event listener to show popup and overlay
  element.addEventListener('click', () => {
    popup.style.display = 'block';
    overlay.style.display = 'block';
  })
  ;})

  function processButton(id){
    document.getElementById("qform").val(id);
    socket.emit('oneanswer',gid)
    document.getElementById("qform").submit();
  }
  var gid="{{game.id}}"
  // $('#startform').on('click',function() {
  //     socket.emit('oneanswer',gid)
  //     var locto="/questionhost/"+gid+"/0";
  //     window.location.href=locto;
  //   })
  var socket=io({'multiplex': false})

  var time=30;
socket.on('tleft',function(data){
  if (gid==data.gid){
  console.log(data.time)
    time=data.time}
})
socket.on('timeup',function(gameid){
  console.log('h')
  if (gid==gameid){
    $("#timeleft").val(0)
    document.getElementById("qform").submit();
    //var locto="{{'/resultplayer/'~player.id~'/'~game.id~'/'~(qnum)}}"
    //console.log(locto)
    //window.location.href=locto
  }
  })

var x = setInterval(function() {
document.getElementById("timer").innerHTML = Math.round(time)

$("#timeleft").val(Math.round(time*100)/100)
//time-=0.1;

// if (time <= 0) {
//   console.log('h')
//   clearInterval(x);
//   document.getElementById("qform").submit();
//   document.getElementById("timer").innerHTML = "Time is up!";

// }
}, 100);

  

</script>
<script type="text/javascript">
  {% include "listen.js" %}
</script>

{%endblock%}
{%block style%}
.choice, .final-btn {
  width: 95%;
  background: #f8f8f8;
  border-color: #BABABA;
  border-radius: 8px;
  border-width: 2px;
  color: #404144;
  font-weight: 600;
}
      body {
      background-color: #89C4FF;
      color: black
      }
{%endblock%}
