{%extends 'base.html'%}
{%block title%}
Question
{%endblock%}

{%block content%}<br>
<div class="container">
  <div class="row" style="margin-top:20px; margin-left:20px;">
    <div class="col-10">
    <div class="text-right" style="display: inline"><h5></h5></div><div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: {{100*(qnum+1)/(game.questions.split(',')|length-1)}}%"></div>
</div>
    <br><br>  
    {%set qry="Select question_content FROM question WHERE title='"~game.questions.split(',')[qnum]~"'"%}
    <h5>{{engine.execute(qry).fetchall()[0][0]|safe}}</h5><form method="POST" id="qform">
      {%set qry="Select choices FROM question WHERE title='"~game.questions.split(',')[qnum]~"'"%}

      {%set choices=engine.execute(qry).fetchall()[0][0].split('\n')%}
      {%for c in range(choices|length)%}
      {%if choices[c][2:4]=="li"%}
  <h5><input type="radio" name="choice" value="{{c}}">&nbsp;{{choices[c][5:-5]|safe}}</h5>
  {%endif%}
  {%endfor%}
  <input id="timeleft" name="timeleft" type="hidden">
    
</form>

</div></div>
<div class="col-2">
  <br><br><br><br>
  <div class="text-center" style="display: inline"><h3>&#9200;</h3><h3 id="timer"></h3></div>
  <button class="btn btn-lg btn-primary p-4" id="startform">Continue</button>
</div>
<script>
        var socket=io({'multiplex': false})

    var gid="{{game.id}}"
  var time=30;
var x = setInterval(function() {
document.getElementById("timer").innerHTML = Math.round(time)
$('#startform').on('click',function() {
    socket.emit('timeup',gid);})
    
socket.on('timeup',function(data){
  if(gid==data){
  var locto="/resulthost/"+gid+"/"+"{{qnum}}";
    console.log(locto)
    window.location.href=locto
  }})
$("#timeleft").val(Math.round(time*100)/100)
time-=0.1;
// if (Math.round(time)==time){
    
    socket.emit('tleft',{"time": time,"gid":gid})

if (time <= 0) {
  console.log('h')
  socket.emit('timeup',gid)
  clearInterval(x);
  document.getElementById("timer").innerHTML = "Time is up!";
    
    

}
}, 100);


</script>

{%endblock%}
{%block style%}
      body {
      background-color: #89C4FF;
      color: black
      }
{%endblock%}