{%extends 'base.html'%}
{%block title%}
Results
{%endblock%}
{%block content%}
{%set qry="Select question_content FROM question WHERE title='"~game.questions.split(',')[qnum]~"'"%}
<h5>{{engine.execute(qry).fetchall()[0][0]|safe}}</h5>
<table class="table table-hover bg-info">
    <thead>
        <tr>
            <!-- Your Columns HERE -->
            <th scope="col">Correct Answer</th>
            <th scope="col"># of Players</th>

            <th scope="col">Answer Choice</th>

        </tr>
    </thead>
    <tbody>
        <!-- Your rows inside the table HERE: -->
        {%set qry="Select choices FROM question WHERE title='"~game.questions.split(',')[qnum]~"'"%}
        {%set choices=engine.execute(qry).fetchall()[0][0].split('\n')%}
        {%set cc=namespace(curcat=0)%}
  {%for c in range(choices|length)%}
  {%if choices[c][2:4]=="li"%}
        <tr>
                
                <td>{%if cc.curcat==corrans%}
                    ->
                {%endif%}</td>

                <td>{{subnums[cc.curcat]}}</td>
                <td><p>{{choices[c][5:-5]|safe}}</p></td>
                    


        </tr>
        {%set cc.curcat=cc.curcat+1%}
        {%endif%}
        {% endfor %}

    </tbody>
</table>
<button class="btn btn-lg btn-primary p-4" id="startform">Continue</button>
<script>
    var socket=io({'multiplex': false})

var gid="{{game.id}}"
    $('#startform').on('click',function() {
            socket.emit('gotofollowup',gid);
            var locto="/hostfollowup/"+gid+"/"+"{{qnum}}";
            window.location.href=locto;})
</script>
{%endblock%}
{%block style%}

      body {
      background-color: #89C4FF;
      color: black
      }

{%endblock%}

