{%extends 'base.html'%}
{%block title%}
Start a Game
{%endblock%}
{%block content%}
<div class="text-center"><h3>Start a Game</h3><br></div>
<form method="POST">
<div class="row" style="margin-top:20px; margin-left:20px;">
<div class="col-8">

{%set cc=namespace(curcat="0")%}
    {% for i in engine.execute("Select * FROM game_category ORDER BY class").fetchall()%}
{% if cc.curcat!=i[6]%}
    <h2>{{i[6]}}</h2>
    {%set cc.curcat=i[6]%}
{%endif%}
    &nbsp;<input type="radio" name="game_choice" value="{{i[0]}}"> {{i[0]}} - {{i[2]}} questions<br>
    {%endfor%}
</div>
<div class="col-4">
{{form.submit(class="btn btn-lg btn-primary p-4")}}
    <br></div></div></form>

{%endblock%}
{%block style%}
input{
font-size:70px
}
{%endblock%}