{% extends 'base.html' %}
{% block title %}
Start a Game
{% endblock %}
{% block content %}
<div class="text-center" style="padding: 20px">
    <h3 style="color: white; font-weight: bold;">Start a Game</h3>
  </div>
<form method="POST">
    {{form.hidden_tag()}}
    <div class="row" style="margin-top:20px; margin-left:20px;">
        <div class="col-8">
            {% set cc = namespace(curcat="0") %}
            <table class="table table-hover table-bordered">
                <tbody>
                  {%set arr=["Civics","News","Voting"]%}
                    {% for i in engine.execute("select game_group, name, description, no_questions from game join game_category on game.name = game_category.game where game_status = 'Production' and game_group is not null order by game_group, name").fetchall() %}
                      {%if i[0] in arr%}
                      {%set curr=i[0].replace(" ","")%}
                        {%set curr=curr.replace(".","")%}
                        {%set curr=curr.replace("/","")%}
                        {% if cc.curcat != i[0] %}
                        <tr class="clickable" data-toggle="collapse" data-target=".{{curr}}" aria-expanded="true"  style="background-color: lightblue;">

                                <td colspan="3"><strong>{{i[0]}}</strong> <span class="float-right fas fa-chevron-down"></span></td>
                            

                            </tr>
                            <tr class="collapse {{curr}}">
                                <th></th>
                                <th>Name</th>
                                <th># of Questions</th>
                            </tr>
                            {% set cc.curcat = i[0] %}
                        {% endif %}
                        <tr class="collapse {{curr}}">
                            <td><input type="radio" name="game_choice" value="{{i[1]}}"></td>
                            <td>{{i[1]}}</td>
                            <td style="width: 10%">{{i[3]}}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    {% for i in engine.execute("select game_group, name, description, no_questions from game join game_category on game.name = game_category.game where game_status = 'Production' and game_group is not null order by game_group, name").fetchall() %}
                      {%if i[0] not in arr%}
                      {%set curr=i[0].replace(" ","")%}
                        {%set curr=curr.replace(".","")%}
                        {%set curr=curr.replace("/","")%}
                        {% if cc.curcat != i[0] %}
                        <tr class="clickable" data-toggle="collapse" data-target=".{{curr}}" aria-expanded="true"  style="background-color: lightblue;">

                                <td colspan="3"><strong>{{i[0]}}</strong> <span class="float-right fas fa-chevron-down"></span></td>
                            

                            </tr>
                            <tr class="collapse {{curr}}">
                                <th></th>
                                <th>Name</th>
                                <th># of Questions</th>
                            </tr>
                            {% set cc.curcat = i[0] %}
                        {% endif %}
                        <tr class="collapse {{curr}}">
                            <td><input type="radio" name="game_choice" value="{{i[1]}}"></td>
                            <td>{{i[1]}}</td>
                            <td style="width: 10%">{{i[3]}}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <div class="d-flex justify-content-center">
                {{form.code(class="form-control text-center w-50", placeholder="Create a Join Code")}}<br>
            </div>
            <div class="d-flex justify-content-center">
                {{form.submit(class="btn btn-lg btn-primary p-4")}}
            </div>
            <br>
        </div>
    </div>
</form>
{% endblock %}

{% block style %}
    table {
        background-color: #f9f9f9;
    }
    th {
        font-weight: bold;
    }
    td {
        vertical-align: middle;
    }
    .clickable {
        cursor: pointer;
    }
    .collapse.show {
        display: table-row;
    }
    .collapse {
        display: table-row;
    }
</style>
{% endblock %}


<!-- {%raw%}
{% extends 'base.html' %}

{% block title %}
Start a Game
{% endblock %}

{% block content %}
<div class="text-center">
  <h3>Start a Game</h3>
  <br>
</div>
<form method="POST">
  {{ form.hidden_tag() }}
  <div class="row" style="margin-top: 20px; margin-left: 20px;">
    <div class="col-8">
      {% set cc = namespace(curcat="") %}
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th># of Questions</th>
          </tr>
        </thead>
        <tbody>
          {% for i in engine.execute("Select * FROM game_category ORDER BY class").fetchall() %}
          {% if cc.curcat != i[6] %}
          <tr class="table-primary">
            <td colspan="2" class="cursor-pointer" data-toggle="collapse" data-target="#{{i[6]}}">{{ i[6] }}</td>
          </tr>
          {% set cc.curcat = i[6] %}
          {% endif %}
          <tr class="collapse table-light" id="{{ i[6] }}">
            <td>{{ i[0] }}</td>
            <td>{{ i[2] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <div class="d-flex justify-content-center">
        {{ form.code(class="form-control text-center w-50", placeholder="Create a Join Code") }}
        <br>
      </div>
      <div class="d-flex justify-content-center">
        {{ form.submit(class="btn btn-lg btn-primary p-4") }}
      </div>
      <br>
    </div>
  </div>
</form>
{% endblock %}

{% block style %}
input {
  font-size: 70px;
}

.cursor-pointer {
  cursor: pointer;
}
{% endblock %} {%raw%}-->


<!-- {%raw%}{%extends 'base.html'%}
{%block title%}
Start a Game
{%endblock%}
{%block content%}
<div class="text-center"><h3>Start a Game</h3><br></div>
<form method="POST">
    {{form.hidden_tag()}}
<div class="row" style="margin-top:20px; margin-left:20px;">
<div class="col-8">

{%set cc=namespace(curcat="0")%}
    {% for i in engine.execute("Select * FROM game_category ORDER BY class").fetchall()%}
{% if cc.curcat!=i[6]%}
    <h2>{{i[6]}}</h2>
    {%set cc.curcat=i[6]%}
{%endif%}
    &nbsp;<input type="radio" name="game_choice" value="{{i[0]}}"> {{i[0]}} - {{i[2]}} questions<br>
    {%endfor%}
</div>
<div class="col-4">
    <div class="d-flex justify-content-center">
{{form.code(class="form-control text-center w-50",placeholder="Create a Join Code")}}<br></div>
<div class="d-flex justify-content-center">
{{form.submit(class="btn btn-lg btn-primary p-4")}}</div>
    <br></div></div></form>

{%endblock%}
{%block style%}
input{
font-size:70px
}
{%endblock%}{%endraw%} -->
