{%extends 'base.html'%}
{%block title%}
Waiting for Other Players
{%endblock%}
{%block content%}
<style>
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f2f2f2; */
  }

  .card {
    width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
  }

  /* .card-header {
    background-color: #f2f2f2;
    border-bottom: none;
  } */

  .card-title {
    font-weight: bold;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
  }
</style>

<div class="container">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Waiting for other players to finish</h5>
    </div>
  </div>
</div>

<script>
  var count=0;
    var gid="{{game.id}}"
  var socket=io({'multiplex': false})
  socket.emit('oneanswer',gid)
  console.log("emittedsignal")
  socket.on('oneanswer',function(data){
  if(gid==data){
    console.log("{{numconnected}}");
    console.log("{{numanswered}}");
    count++;
    console.log(count);
     if(parseInt("{{numanswered}}")==parseInt("{{numconnected}}")){
       socket.emit('timeup',gid);
     }
    //socket.emit('timeup',gid);
  }
})
  socket.on('timeup',function(data){
    var locto="{{'/resultplayer/'~playerid~'/'~game.id~'/'~(qnum)}}"
    console.log(locto)
    window.location.href=locto
  })
</script>
<script type="text/javascript">
	{% include "listen.js" %}
</script>
{%endblock%}
