{%extends 'base.html'%}
{%block title%}
Waiting for Game to Start
{%endblock%}
{%block content%}
<div class="container">
      <!-- <span class="border border-secondary"> -->
<h2>Share the following information with participants: <br>
      &nbsp; &nbsp; &nbsp;Go to (website link) and use the code {{game.code}}</h2>
<!-- </span> -->
</div>


<!-- <ul id="messages"></ul> -->
<!-- <input type="text" id="myMessage"> -->
<!-- <button id="sendbutton">Send</button> -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script> 
<script type="text/javascript">
      
      
      // console.log("http://"+document.domain+":"+location.port+"/waiting/host/{{game.id}}");
      //var socket =io.connect("http://"+document.domain+location.port+"/waiting/host/game.id (ADD braces)");
      var socket=io()

      
      // socket.on('connect',function() {
      //       socket.send('User has connected!');});
      // socket.on('print',function(msg) {
      // // $("#messages").append('<li>'+msg+'</li>');
      // console.log('Received message');
      // });
      // $('#sendbutton').on('click',function() {
            
      // socket.emit('text',$('#myMessage').val());
      // $('#myMessage').val('')});
</script>
{%endblock%}