{%extends 'base.html'%}
{%block title%}
Waiting for Game to Start
{%endblock%}
{%block content%}
Waiting for the host to start game.
<div class="container" id="plist">
    

    </div>
    <script>
    var gid="{{game.id}}"
    var socket=io({'multiplex': false})
    
    window.onload=function(){
        console.log(gid);
        
    // socket.on('connection',function() {
        socket.emit('newc',gid);}
        socket.on('disconnect', function(){
console.log('disconnected...')
})  
    socket.on('addnewc',function(data){
      if (gid==data.gameid){  
console.log(data.players)
        //var pls=JSON.parse(players)
        $("#plist").text('')
        for (p in data.players){
            
        $("#plist").append(" <div style='margin-bottom: 5px' class='card text-center text-white bg-danger'><div class='card-body'>"+
            data.players[p]+"</div></div>")
    }}})
    socket.on('gamehasstarted',function(gameid){
        if (gid==gameid){
            
            window.location.href="/home"
        }
    })
</script>
</div>
{%endblock%}